{% extends 'ratings/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container" style="margin-top:8%">
  
  <h1 class="mb-4 mt-4 text-center">{{ post.title }} <small> <br> by {{ post.user.username }}</small></h1>
  <div class="card">
    <img class="card-img-top" src="{{ post.image.url }}" alt="post" style="max-height: 800px; width:auto">
   
    <div class="card-body">
      <h5 class="card-title text-center"><strong>{{post.title|title}}</strong></h5>
      <div>
        <a href="{{ post.url }}" style="float:right; width: 3.8rem;" class="btn btn-sm btn-info mr-4"> Github Link </a>
        <p class="card-text "><img src="{{post.user.profile.picture.url}}" class="nav-img mr-2" alt="picture" style="float: left; max-width: 5rem; height: 4rem;">
          
        </p>
        <p class="text-center">{{ post.description }}</p>
      </div>
  
      <hr>

      {% for rating in post.ratings.all %}
      {% if forloop.counter is post.ratings.all.count %}
      <div class="row d-flex justify-content-center">
        <div style="height: 3rem;" class="col-4 border rounded-pill text-center">
          <small><strong><p style="margin-top: 0.4rem;">Design</p></strong></small>
          <small><p style="margin-top: -1rem;" class="d-block mx-auto textrate">{{rating.design_average}}</p></small>
        </div>

        <div style="height: 3rem; margin-left: 0.5rem; margin-right: 0.5rem;" class="col-3 border rounded-pill text-center">
          <small><strong><p style="margin-top: 0.4rem;">Usability</p></strong></small>
          <small><p style="margin-top: -1rem;" class="d-block mx-auto textrate">{{rating.usability_average}}</p></small>
        </div>

        <div style="height: 3rem;" class="col-3 border rounded-pill text-center">
          <small><strong><p style="margin-top: 0.4rem;">Content</p></strong></small>
          <small><p style="margin-top: -1rem;" class="d-block mx-auto textrate">{{rating.content_average}}</p></small>
        </div>
      </div>
      {% endif %}
      {% endfor %} 

    <div text-center>
      {% if rating_status %}
      <h5>You have already voted</h5>
      {% else %}
      {% if user.is_authenticated %}
      <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{rating_form|crispy}}
        <button type="submit" style="color: darkmagenta; width:4rem; height: 2.6rem; margin-left: 50%;" class="text-center btn btn-sm btn-info">Rate</button>
      </form>
      </div>
      {% endif %}
      {% endif %}
    </div>
  </div>
  </div>
</div>
{% endblock %}